conda.enabled = true


params {

    // Tglow conda env
    conda_env = "/software/teamtrynka/installs/tglow"

    tglow_core_dir="/software/teamtrynka/installs/tglow-core/core/"
    tglow_image_dir="/software/teamtrynka/installs/tglow-core/testing/test_output/nextflow/images"

    // This is a file with <well> <plate> <xml> structure indicating which wells on which plates to run
    manifest="/software/teamtrynka/installs/tglow-core/testing/manifest_well_test.tsv"
    
    // File with paths to the Harmony exports, one per row
    //manifest_xml="/software/teamtrynka/installs/tglow-core/testing/manifest_xml.tsv"
    
}
